@use "../utils/mixins" as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
}
.list_footer {
  display: flex;
  gap: 16px;
}
.icon_footer {
  display: flex;
  align-items: center;
  border-radius: 100%;
  background-color: var(--accent);
  padding: 8px;
}
@include phone;
@include tablet;
@include desktop;
