@use "../utils/mixins" as *;
.header {
  padding: 32px 0;
  background: var(--accent);
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.header_div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.title_header {
  font-weight: 700;
  font-size: 36px;
  color: var(--text);
}

.list {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  gap: 32px;
}

.theme-btn {
  background: none;
  border: 1px solid var(--border);
  color: var(--text);
  padding: 5px;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.3s;
}

.theme-btn:hover {
  border: 1px solid var(--horder);
}

.header_text {
  color: var(--text);
}
@include phone;
@include tablet;
@include desktop;
