* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: aliceblue;
}
a:hover {
  transition: 0.5s;
  color: var(--horder);
}
body {
  background: var(--bg);
  color: var(--text);
  max-width: 100%;
  overflow-x: hidden;
}
