.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1100;
}

.burger span {
  width: 26px;
  height: 3px;
  background: var(--text);
  border-radius: 2px;
  transition: 0.3s;
}

.menu-toggle:checked + .burger span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.menu-toggle:checked + .burger span:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked + .burger span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
