@use "../utils/mixins" as *;
.about {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 72px;
}
.title_about {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: var(--text);
}
.text_about {
  margin: 0 auto;
  margin-top: 16px;
  width: 576px;
  height: 45px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--text);
}
.div_about {
  display: flex;
  margin-top: 56px;
  justify-content: space-between;
  align-items: center;
}
.image_about {
  border-radius: 16px;
}
.div_list {
  display: flex;
  flex-direction: column;
  width: 560px;
}
.list_div {
  display: flex;
  flex-direction: column;
  color: var(--text);
  gap: 32px;
}
.list_text {
  font-weight: 600;
  font-size: 18px;
  text-align: justify;
  color: var(--text);
}
.list_text_2 {
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  color: var(--text);
}
.button_about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background-color: transparent;
  width: 143px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  color: var(--text);
}
.list_about {
  display: flex;
  margin-top: 64px;
  color: var(--text);
  justify-content: space-around;
}
.list_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 200px;
}
.image_list {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border-style: solid;
  border-color: #212121;
  background-color: #212121;
  width: 120px;
  height: 120px;
}
.title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--text);
}
.text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--text);
}
@include phone;
@include tablet;
@include desktop;
